In [9]:
r=float(input('enter the radius'))
area=float(3.14*r**2)
print ('area of the circle is', area)

enter the radius3
area of the circle is 28.26

In [11]:
Name=input('Enter the name')
Roll_No=input('Enter the roll number')
Mark=input('Enter the mark')
print('Name:', Name)
print('Roll No:',Roll_No)
print('Mark:', Mark)

Enter the nameAnisha
Enter the roll number21
Enter the mark78
Name: Anisha
Roll No: 21
Mark: 78

In [20]:
sample_list=[12,3,47,10]
max1=max(sample_list)
print (max1,'is the largest number')

47 is the largest number

In [49]:
i=range(0,10)
for previous_number in i:
   current_number=previous_number+1
   sum=current_number+previous_number
   print('current number ',current_number,'previous number ',previous_number,'sum: ',sum)

current number  1 previous number  0 sum:  1
current number  2 previous number  1 sum:  3
current number  3 previous number  2 sum:  5
current number  4 previous number  3 sum:  7
current number  5 previous number  4 sum:  9
current number  6 previous number  5 sum:  11
current number  7 previous number  6 sum:  13
current number  8 previous number  7 sum:  15
current number  9 previous number  8 sum:  17
current number  10 previous number  9 sum:  19

In [73]:
s=[10,20,33,46,55]
for i in s:
    if i%5==0:
      print (i)

10
20
55

In [82]:
list_1=[10,40,30,70]
list_1.reverse()
list_1

[70, 30, 40, 10]

In [99]:
i=range(1,5)
for b in i:
  if b<5:
    print('x'*b)

x
xx
xxx
xxxx

In [100]:
numbers=[34,12,7]
print(max(numbers))

34

In [111]:
i=range(1,5)
for b in i:
  if b<5:
    print('x'*b)
if b==5:
  print('x'*b)
  b=b-1

x
xx
xxx
xxxx